 <?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id="com.example.hello" 
        version="1.0.0">
        <name>IONSYS Demo Unit</name>
        <description>
            An application containing the web demo of IT101
        </description>
        <author email="ryan.dumlao@themedco.com" href="http://www.ryandumlao.com">
            Ryan Dumlao, IONSYS Team, The Medicines Company
        </author>
        <content src="index.html" />
        <access origin="*" />
        <preference name="Fullscreen" value="true" />
        <preference name="WebViewBounce" value="true" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="exit-on-suspend" value="true" />
        <feature name="http://api.phonegap.com/1.0/media"/> 
        <gap:plugin name="org.apache.cordova.media" />
        <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
        <gap:config-file platform="ios" parent="UIStatusBarHidden">
            <true/>
        </gap:config-file>

        <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
            <false/>
        </gap:config-file>

        <gap:config-file platform="ios" parent="UISupportedInterfaceOrientations~ipad" overwrite="true">
            <array>
                <string>UIInterfaceOrientationLandscapeLeft</string>
                <string>UIInterfaceOrientationLandscapeRight</string>
            </array>
        </gap:config-file>
        <gap:splash src="splash.png"/>
        <gap:splash src="splash.png" gap:platform="android"/>
        <!-- iPhone and iPod touch -->
        <gap:splash src="splash/ios/Default.png" gap:platform="ios" width="320" height="480" />
        <gap:splash src="splash/ios/Default@2x.png" gap:platform="ios" width="640" height="960" />

        <!-- iPhone 5 / iPod Touch (5th Generation) -->
        <gap:splash src="splash/ios/Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />

        <!-- iPad -->
        <gap:splash src="splash/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
        <gap:splash src="splash/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="768" />

        <!-- Retina iPad -->
        <gap:splash src="splash/ios/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />
        <gap:splash src="splash/ios/Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1536" />



        <!-- <gap:splash src="splash.png" gap:platform="ios" /> -->
</widget>