 <?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id="com.example.hello" 
        version="1.0.0">
        <name>IONSYS Demo Unit</name>
        <description>
            An application containing the web demo of IT101
        </description>
        <author email="ryan.dumlao@themedco.com" href="http://www.ryandumlao.com">
            Ryan Dumlao, IONSYS Team, The Medicines Company
        </author>
        <content src="index.html" />
        <access origin="*" />
        <preference name="Fullscreen" value="true" />
        <preference name="WebViewBounce" value="true" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="DisallowOverscroll" value="true" />
        <feature name="http://api.phonegap.com/1.0/media"/> 
        <gap:plugin name="org.apache.cordova.media" />
        <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
        <gap:config-file platform="ios" parent="UIStatusBarHidden">
            <true/>
        </gap:config-file>

        <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
            <false/>
        </gap:config-file>
</widget>