
/* --------------- START IONSYS CSS ----------------*/

h1, h2, h3, h4, h5, h6 { /*reset for mobile browsers */

font-weight: normal;

}

html{
	overflow-x:hidden;
}

*{
	margin:0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}

body{
	font-family: 'Raleway', Georgia, Arial, Verdana;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-font-smoothing: subpixel-antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	margin: 0 0 2.5em 0;
	background-color: black;
	color:white;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

a, a:visited, a:active{
	color:white;
}

body.padding{
	padding-bottom:7em;
}

span {
	display:inline;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NHG-reg';
    src: url('NHG-reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: "Flaticon";
	src: url("icons/flaticon.eot");
	src: url("icons/flaticon.eot#iefix") format("embedded-opentype"),
	url("icons/flaticon.woff") format("woff"),
	url("icons/flaticon.ttf") format("truetype"),
	url("icons/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}


/*deviceCSS */

img{
	-webkit-transition: -webkit-transform 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-in;
	-o-transition: -moz-transform 0.3s ease-in;
	transition: transform 0.3s ease-in;

}

.debugLog{
	position:absolute;
	right:0;
	top:0;
	z-index:999;
	color:white;
}

.container{
	text-align:center;
	width:100%;
	height:100%;
}

/*initial assembly CSS */
.packageAssembly{
	width:auto;
}

.packageAssembly>div{
	margin:0;
	display:inline-block;
}

.bottomAssy {
	position:relative;
	margin:auto;
	width:295px;
	height:500px;
	background-image: url('img-ionsys-drugunit-top-eu.png');
}

.bottomAssySnapPoint{
	width:1px;
	height:500px;
}

.topAssy {
	position:absolute;
	margin:auto;
	/*right:-5em;
	bottom:0;*/
	left: 8em;
	top: 6em;
	width:295px;
	height:500px;
	cursor:-webkit-grab;
	background-image: url('img-ionsys-controller-top-eu.png');
}

.topAssy.reset{
	-webkit-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-o-transition: all ease-out 0.5s;
	transition: all ease-out 0.5s;
}

.topAssy:active{
	cursor:-webkit-grabbing;
}

.device{
	position:relative;
	margin:auto;
	width:295px;
	height:500px;
	background-image: url('img-ionsys2-eu.png');
}

.backgroundAssembly{
	width:100%; /*this will give a slight positioning issue if 
				window width < 295px, but should not happen on min 320x screen */
	height:500px;
	background-image: url('img-ionsys2-eu.png');
	background-repeat:no-repeat;
	background-position:center;
	display:block;
	position:absolute;
}


.device .led{
	position:absolute;
	height:75px;
	width:295px;
}

.ledGreen{
	background-image: url('led-green.png');
}

.ledRed{
	background-image: url('led-red.png');
}

.doseButton{
	position:absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	cursor:pointer;
	margin-left:107px;
	margin-top:76px;
	height:81px;
	width:80px;
	border-radius:40px;
	/*background-image: url('dosebutton-up.png');*/
	z-index:100;
}

.doseButtonPressed{
	background-image: url('dosebutton-down_s.png');
}

/* HEADER LOGO CSS */

.pageHeader{
	position:fixed;
	padding-top:0px;
	width:100%;
}

.frontHeader{
	position:fixed;
	z-index:100;
}

.backHeader{
	z-index:1;
	background-color:rgba(0,0,0,.5);
}

.ionsysLogo img{
	width:200px;
}

.ionsysLogo h3{
	display:none;
}

#headerLogo{
	width:161px;
	height:50px;
	background-image:url('img-ionsyslogo4.png');
	background-repeat:no-repeat;
	background-size:100%;
}

#headerLogoCircle{
	width:44px;
	height:50px;
	/*margin: 1em 0 0 1em;*/
	background-image:url('logo-ionsys-circle2.png');
	background-size:100%;
}

/* MAIN PAGE CSS */

.splash{
	position:relative;
	background: url(bg-hospitalroom2.jpg);
	background-size: auto 100%;
	background-color:black;
	z-index:10;
	text-align:center;
	margin-bottom:-70px;
	overflow:hidden;
}

.splash .container{
	z-index:10;
	padding-top:0;
}


.container h2{
	font-size:2.5em;
}

.container h3{
	/*padding:.5em 0 .5em;*/
}

.container h4{
	padding:.5em .5em;
}
.container p{
	text-align:justify;
}

.container article{
	padding:0em 2em 1em;
}

#medcoLogo{
	position:relative;
	width:15em;
	margin:auto;
	/*bottom:2em;*/
	/*margin-top:25%;*/
}

#medcoLogo img{
	width:100%;
}

.caption{
	padding:.5em;
}



/*START SEVEN SEGMENT DISPLAY CSS */
.seven-segment {
	z-index:99;
  	position: absolute;
  	margin:auto;
  	width:500px;
  	left:-100px;
  	top:110px;
  	-webkit-transform:scale(0.12);
  	-moz-transform:scale(0.12);
  	-ms-transform:scale(0.12);
  	transform:scale(0.12);
}

.digit{
	position:relative;
	display:inline-block;
	width:180px;
	height:350px;
	margin: 1.5em;
}

.digit div{
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
	-webkit-backface-visibility: hidden;
	outline: 1px solid transparent;
}

.digit .a {
  position: absolute;
  left: 10px;
  height: 0;
  width: 100px;
  border-top: 30px solid #000;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}
.digit .b {
  position: absolute;
  left: 150px;
  top: 10px;
  height: 100px;
  width: 0;
  border-right: 30px solid #000;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}
.digit .c {
  position: absolute;
  left: 150px;
  top: 180px;
  height: 100px;
  width: 0;
  border-right: 30px solid #000;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}
.digit .d {
  position: absolute;
  top: 320px;
  left: 10px;
  height: 0;
  width: 100px;
  border-bottom: 30px solid #000;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}
.digit .e {
  position: absolute;
  left: 0;
  top: 180px;
  height: 100px;
  width: 0;
  border-left: 30px solid #000;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}
.digit .f {
  position: absolute;
  left: 0;
  top: 10px;
  height: 100px;
  width: 0;
  border-left: 30px solid #000;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}

.digit .g:before{
	position:absolute;
	content: " ";
	height:14px;
	left:0px;
	top:-34px;
	width:120px;
	border-bottom: 20px solid #000;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
}

.digit .g{
	position: relative;
	top: 175px;
  	left: 10px;
	height: 0px;
	margin:0;
	padding:0;
	width: 160px;
	background-color: #000;
}

.digit .g:after{
	position:absolute;
	content: " ";
	height:14px;
	width:120px;
	left:0px;
	bottom:-34px;
	border-top: 20px solid #000;
	border-left: 20px solid transparent;
	border-right: 020px solid transparent;
}

/* button controls for the unit  */

@-webkit-keyframes pulse {
	0% {
		background-color:rgba(255,255,255,0.3);
	}
	40% {
		background-color:rgba(255,255,255,0.1);
	}
	60% {
		background-color:rgba(255,255,255,0.1);
	}
	100% {
		background-color:rgba(255,255,255,0.3);
	}
}


@keyframes pulse {
	0% {
		background-color:rgba(255,255,255,0.3);
	}
	40% {
		background-color:rgba(255,255,255,0.1);
	}
	60% {
		background-color:rgba(255,255,255,0.1);
	}
	100% {
		background-color:rgba(255,255,255,0.3);
	}
}

.powerButtonContainer{
	position:fixed;
	right:0;
	display:block;
	width:auto;
	text-align:right;
	overflow-x: visible;
}

.powerButtonContainer button{
	position:absolute;
	right:0;
	border-radius:2em; /*if this value is ~ twice or more than the font size, in iOS safari it clips*/
	width:2.35em;
	height:2.35em;
	padding:0;
}

.powerButtonContainer i, .splash i{
	padding:0;
	font-size:.35em !important;
	position:relative;
}

/*.powerButtonContainer #powerButtonOff{
	background-color:rgba(200,200,200,0.5);
}*/

.buttonPulse{
	-webkit-animation: pulse 4s infinite ease-in;
	animation: pulse 4s infinite ease-in;
}


.control {
	position:relative;
	text-align: center
}

button, input{
	border:none;
	outline: 0;
	border-radius:20px;
	padding:.5em .5em;
	margin: .2em;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	border:1px solid white;
	background-color:rgba(0,0,0,0);
	font: 1.2em 'Raleway';
	color:white;
}

.control input[type=number]::-webkit-inner-spin-button, 
.control input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

button:hover{
	cursor:pointer;
	border:1px solid white;
	background-color:rgba(255,255,255,.2) !important;
}

button:active{
	border:1px solid white;
	background-color:rgba(255,255,255,.5);
}

.digitOff, .digitOff:before, .digitOff:after {
	border: none !important;
}

#deviceStatus{
	/*padding:.5em;*/
}

/* utility classes */

.hidden{
	display:none !important;
}

.invisible{
	position:fixed !important;
	visibility:hidden !important;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}


/* classes for description text*/

.context{
	position:relative;
	padding: 1em 0 1em;
	text-align: center;
}

/*.contextOverflow{
	overflow:hidden;
	display:none;
	padding-bottom: 1em;
}
*/
.contextContent{
	/*display:none;*/
	position:relative;
	overflow:hidden;
	height:0;
	-webkit-transition: all 0.4s cubic-bezier(.45,.59,.96,.84);
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.contextContent.docked{
	visibility:hidden;
	position:fixed;
	height:auto;
}

.contextArrowContainer{
	position:relative;
	bottom:0;
	margin:auto;
}

.contextArrow{
	display:block;
	margin:auto;
	width:3em;
}

.contextArrowClosed{
	transform:rotate(270deg);
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
}

.contextArrowOpen{
	transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
}

.contextArrow:hover{
	cursor:pointer;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-size: 3em;
	font-style: normal;
	margin-left:0;
}

.flaticon-arrow395:before {
	content: "\e000";
}

.flaticon-standby:before {
	content: "\e001";
}

#deviceStatus p, #modeCaption p,  #modeDescription p, #modeFooter p{
	display:none;
}

.contextContent .enable{
	display:block !important;
}

.contextContent p{
	text-align:center;
}

.contextContent #modeDescription p{
	text-align:justify;
	overflow:visible;
}

.contextContent #modeDescription p span{
	display:block;
	font-weight:bold;
	padding-top: .5em;
	margin:1em -.75em;
}



/*.contextContent #modeDescription .statusDefault{
	text-align:center;
}*/

header.ionsysLogoBanner, footer.ionsysLogoBanner{
	-webkit-transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
	position:fixed;
	top:0;
	z-index:998;
	height:15%;
	background-color: #00a0df;
	width:100%;
	/*padding:1em;*/
}

footer.ionsysLogoBanner.logoBannerBottom{
	top:auto;
	bottom:0;
	z-index:900;
}

.ionsysLogoBanner.hiddenLogo{
	top:-15%;
}

.ionsysLogoBanner .ionsysLogo{
	margin: .75em;
	height:4em;
	background-image: url('white-ionsys-logo-eu.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size:contain;
}

.ionsysLogoBanner .mdcoLogo{
	margin: .75em;
	height:70%;
	background-image: url('mdco-side-logo.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size:contain;
}



section.infoPage{
	-webkit-transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
	position:fixed;
	box-shadow: -2px -2px 5px 4px black;
	cursor:pointer;
	z-index:990;
	width:100%;
	padding-bottom:8em;
	background: rgba(0,0,0,.9);d
}

section.infoPage.slideUp, section.safetyInfoPage.slideUp{
	position:absolute;
	top:15% !important;
	bottom: auto;
}

.infoPage .infoPageContent{
	font-size:1.2em;
	/*font-weight:bolder;*/
	text-shadow: 1px 1px 1px black;
	margin:1em auto;
	padding: 0 1em;
}

.infoPageContent header{
	width:100%;
	margin:0 auto 1em;
	text-align:center;
}

.infoPageContent .infoPageTable{
	padding:.5em;
	width:100%;
	margin-bottom:1em;	
}

.infoPageContent .infoPageTable th{
	text-align:left;
	font-size:1.1em;
	text-shadow: 0px 1px 1px white;
}

.infoPageContent .infoPageTable td{
	width: 50%;
	padding:.25em .5em;
}

.infoPageContent .infoPageTable td li, .infoPageContent .infoPageTable td li li, .safetyInfoPage * li{
	margin-left:1em;
	padding-top:.2em;
}

.infoPageTable.infoColumn{
	margin-bottom:0;
	min-width:240px;
}

.infoSidenote{
	font-size:.9em;
	color:#CCC;
}

section.safetyInfoPage{
	-webkit-transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
	/*font-family:'NHG-reg';*/
	/*border-top: 1px solid #444;*/
	box-shadow: -1px -1px 1px 1px black;
	position:fixed;
	z-index:997;
	width:100%;
	top:auto;
	cursor:pointer;
	padding-bottom:4em;
	background-color: #111;
}

section.safetyInfoPage .safetyInfoTitle .plusMinusIcon, section.safetyInfoPage .safetyInfoTitle h1{
	display:block;
	position:relative;
	/*float:left;*/
}

section.safetyInfoPage .safetyInfoTitle .plusMinusIcon{
	height:1em;
	width:1em;
	float:left;
	background-color:#000;
	border: 2px solid white;	
	padding:.25em;
	margin-right:.5em;
	top:-2px;
}

section.safetyInfoPage .safetyInfoTitle .plusMinusIcon div{
	-webkit-transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
	-webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
	transition-delay: 0.5s;
	position: relative;
	width:100%;
	height: 4px;
	background-color:#fff;
}

section.safetyInfoPage .safetyInfoTitle .plusMinusIcon .plus{
	-webkit-transform:rotate(90deg) translateX(2px);
	-moz-transform:rotate(90deg) translateX(2px);
	-o-transform:rotate(90deg) translateX(2px);
	transform:rotate(90deg) translateX(2px);
}

section.slideUp .safetyInfoTitle .plusMinusIcon .plus{
	-webkit-transform:rotate(0deg) translateX(0px) translateY(1px);
	-moz-transform:rotate(0deg) translateX(0px) translateY(1px);
	-o-transform:rotate(0deg) translateX(0px) translateY(1px);
	transform:rotate(0deg) translateX(0px) translateY(1px);
}

section.safetyInfoPage .safetyInfoTitle .plusMinusIcon .minus{
	-webkit-transform:translateY(calc( .5em - 2px ));
	-moz-transform:translateY(calc( .5em - 2px ));
	-o-transform:translateY(calc( .5em - 2px ));
	transform:translateY(calc( .5em - 2px ));
}

section.safetyInfoPage .safetyInfoTitle h1{
	font-size:.9em;
	font-weight: bolder;
	margin:.5em 1em;
	min-height:1.2em;
	text-transform: uppercase;
}


section.safetyInfoPage h2{
	font-size: 1.1em;
	font-weight:bold;
	margin: .5em 0;
}

section.safetyInfoPage .isiCallout h2{
	text-decoration:underline;
}

section.safetyInfoPage .isiCallOut{
	padding:.3em .5em;
	/*margin:1.5em;*/
	border: 2px solid white;
}

 section.safetyInfoPage .isiCallOut .isiWarning{
 	font-size:1.1em;
 	font-weight:bolder;
	padding-bottom: 1em;
}

section.safetyInfoPage .isiList.extraSpace li{
	margin-top: .5em;
	margin-bottom: .5em;
}

section.safetyInfoPage .isiContent.padded{
	padding: 0 1em;
}

section.safetyInfoPage .isiFooter{
	margin-top:1em;
	text-align:center;
}

.controlBar{
	position:fixed;
	z-index:996;
	bottom:50px;
	height:4em;
	width:100%;
	text-align:center;
	background: rgba(0,0,0,.9);
}

.controlBar button{
	-webkit-transition: opacity 0.4s ease-in;
	-moz-transition: opacity 0.4s ease-in;
	transition: opacity 0.4s ease-in;
	padding:0;
	margin: .5em 1em;
	width:2.5em;
	height:2.5em;
	border-radius:3em;
	text-align:center;
	vertical-align:middle;
}


@media only screen and (max-width: 360px){
	.controlBar button{
		margin: .5em .75em;
	}
}

.controlBar #EOL{
	background-image:url('icons/warning.png');
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position:center 5px;
}

.controlBar #EOU span{
	margin:auto;
	vertical-align: top;
	font-size:.9rem;
}

.controlBar #infoToggle{
	background-image:url('icons/whiteinfo.png');
	background-size: 48px 48px;
	background-repeat: no-repeat;
	background-position:center;
}

.controlBar button:disabled{
	opacity: .2;
}

.mockButton{
	padding-left: 2em;
	text-align:left;
}

.mockButton.mbPSC{
	background: url('icons/psc.png') no-repeat left center;
	background-size: 24px 24px;
}

.mockButton.mbEOL{
	background: url('icons/warning.png') no-repeat left center;
	background-size: 24px 24px;
}

.mockButton.mbEOU{
	background: url('icons/80-24.png') no-repeat left center;
	background-size: 24px 24px;	
}

/* PHONEGAP CSS */

.phonegapBlack{
	background-color:#000;
	z-index:999;
	width:100%;
	height:100%;
	position:fixed;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-wrap:nowrap;
	-webkit-align-items:center;
	-webkit-justify-content:center;
	flex-wrap:nowrap;
	align-items:center;
	justify-content:center;
}

.phonegapBlack div{
	width:75%;
}

.phonegapBlack p{
	order:2;
	font-size:1.25em;
	display:block;
	border: 2px solid #00a0df;
	padding:1em;
}

.phonegapBlack .introLogo{
	order:1;
	width:100%;
	height:75px;
	padding-bottom:1em;
	background-image: url('white-ionsys-logo-eu.png');
	background-color: #00a0df;
	background-repeat:no-repeat;
	background-size: auto 75px;
	background-position: .5em .5em;
}

.phonegapBlackFadeOut, .phonegapBlackFadeOut p, .phonegapBlackFadeOut .introLogo{
	/*background-color:rgba(0,0,0,0);*/
	opacity:0;
	/*color: rgba(0,0,0,0);*/
	/*border-color: rgba(0,0,0,0);*/
	-webkit-transition: all 1.5s cubic-bezier(.45,.59,.96,.84);
	-moz-transition: all 1.5s ease-out;
	-o-transition: all 1.5s ease-out;
	transition: all 1.5s ease-out;
}

@media only screen and (min-width: 900px){

	body{
		margin:0;
		padding-bottom:0;
	}

	.splashLimiter{
		max-width:900px;
		margin:2em auto;
	}

	#headerLogo{
		width:242px;
		height:75px;
	}

	#headerLogoCircle{
		width:66px;
		height:75px;
	}

	.ionsysLogo{
		padding-bottom:1em;
	}

	.ionsysLogo img{
		width:auto;
	}

	.ionsysLogo h3{
		display:block;
	}

	.powerButtonContainer button{
		position:absolute;
		right:0;
		width:3em;
		height:3em;
		border-radius:2em;
	}

	.powerButtonContainer i{
		font-size:.5em !important;
		width:3em;
		height:3em;
		position:relative;
	}


	.container{
		position:relative;
		display:inline-block;
		margin:auto;
		width:calc(49% - 4em);
		vertical-align:middle !important;
	}

	/*.container h2{
		font-size:2.5em;
	}*/

	.container h3, .splash h3{
		font-size:1.5em;
	}

	.container h4{
		font-size:1.5em;
	}

	.container header{
		display:inline-block;
		padding:0;
		width:100%;
	}


	.context{
		/*position:fixed;*/
		min-height:400px;
		/*padding: 1em 0 0;*/
	}

	.contextOverflow{
		overflow:hidden;
		padding-bottom: 1em;
	}

	.contextArrowClosed{
		transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
	}

	.contextArrowOpen{
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
	}

	.contextContent.slideRight{
		left:0px !important;
	}

	.contextArrow.slideRight{
	}

	.contextContent.docked{
		visibility:visible;
		height:auto;
	}

	.contextContent{
		position:relative;
		height:auto;
		left:0;
		top:1em;
		display:inline-block;
		width:100%;
		-webkit-transition: left 0.4s cubic-bezier(.45,.59,.96,.84);
		-moz-transition: left 0.4s ease-out;
		-o-transition: left 0.4s ease-out;
		transition: left 0.4s ease-out;
	}

	.contextContent #modeDescription p.statusDose1 span{
		margin: 0 -.75em;
	}

	.contextArrowContainer{
		position:absolute;
		display:inline-block;
		top:0;
		left:0;
		margin:auto;
		width:3em;
	}

	.contextArrow{
		left:0;
		display:block;
		position:relative;
		-webkit-transition: left 0.4s cubic-bezier(.45,.59,.96,.84);
		-moz-transition: left 0.4s ease-out;
		-o-transition: left 0.4s ease-out;
		transition: left 0.4s ease-out;
	}

	.packageAssembly{
		width:auto;
	}

	.backgroundAssembly{
		/*background-color:rgba(255,0,0,.5);*/
		width:377px;
		margin-left:71px;
	}

	.workingAssembly{
		/*background-color:rgba(0,0,255,.5);*/
	}

	.topAssy {
		position:relative;
		margin:auto;
		right:auto;
		left:0;
		top:0;
		bottom:auto;
		width:295px;
		height:500px;
		cursor:-webkit-grab;
		background-image: url('img-ionsys-controller-top-eu.png');
	}

	.packageAssembly>div{
		margin:0 41px;
	}


	.controlBar{
		top: 20%;
		left:0;
		height:300px;
		width:4em;
		text-align:center;
		background: none;
	}

	.controlBar .controlButtonsContainer{
		background-color: rgba(0,0,0,.8);
		max-width: 4em;
		margin: auto;
		padding:.5em;
		border-top-left-radius: 0;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
	}

	.controlBar .controlButtonsBlocker{
		background-color: rgba(0,0,0,.7);
		max-width: 265px;
		margin: auto;
		padding:.5em;	
	}

	.controlBar button{
		margin: .8em 0;
		width:48px;
		height:48px;
		border-radius:24px;
		text-align:center;
		vertical-align: top;
	}

	section.infoPage{
		padding-bottom: 13em;
	}

	.infoPage .infoPageContent{
		max-width:720px;
	}

	.infoPageContent .infoPageTable td{
		padding:.1em .5em;
	}	

	.infoColumn{
		max-width:360px;
	}

	section.safetyInfoPage .safetyInfoTitle h1{
		font-size:1.5em;
	}

	section.safetyInfoPage .isiContent.padded{
		padding: 0 2em;
	}

	section.safetyInfoPage .isiCallOut{
		padding: 1em;
	}

	.phonegapBlack p{
		font-size:2em;
	}


}